.about-banner{
    background:linear-gradient(#00000012, #000), url('../../assets//images/about_banner.png') no-repeat center;
    background-size: cover;
    padding: 20px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.profile-card img{
    height: 300px;
    object-fit: contain;
    object-fit: cover;
   
}
.profile-card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
}
.wall-frames{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: auto;
}
.frame-card{
    min-width: 300px;
}
.frame-card img{
    height: 200px;
    object-fit: cover;
}
.frame-card img:hover{
    transform: scale(1.1);
    transition: 0.8s;
    cursor: pointer;
}

@media (max-width:768px){
    .profile-card img{
        height: fit-content !important;
    }
}