.room-banner{
    background: linear-gradient(#00000048, #000), url('../../assets//images/gallery_banner_3x.png') no-repeat center;
    background-size: cover;
    min-height: 50vh;
    color: #fff;
}

.room-book-card{
    width: 80%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    min-height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-60px);
    background-color: #fff;
    border-radius: 10px;
}
.room-book-card .row{
    width: 100%;
}
.room-book-card button{
    margin-top: 40px;
    padding: 15px;
}
.room-book-card .form-control{
    padding: 15px;
    border: none;
  
}
.room-book-card .form-control:focus{
    box-shadow: none;
    border: none;
}
.input-group{
    border: 2px solid #d2d1d1;
    border-radius: 10px;
    overflow: hidden;
}
.input-group-text{
    background-color: transparent !important;
    border: none !important;
}

.rooms-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.rooms-inner .room-card{
    flex: 1;
    min-width: 150px;
    position: relative;
}
.room-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.room-card button{
  transform: scale(0);
  transition: 0.7s;
  padding: 10px;
  border-radius: 100px;
}
.room-card:hover h1{
  display: none;
}
.room-card:hover button{
    transform: scale(1)
}




@media(max-width:768px){
    .room-book-card{
        width: 90%;
    }
}