/* header{
    position: sticky;
    top: 0px;
    z-index: 1020;
} */
.navbar{
    background: var(--dark-color);
}
.nav-link{
    font-size: 1.2rem !important;
    color: #fff !important;
    font-weight: 700 !important;
}
.logo img{
    width: 80px;
    height: 80px;
    border-radius:100px;
}


.mobile-nav{
    background-color: #114232 !important;
}
.mobile-nav ul li{
    font-size: 1.2rem;
}
.mobile-nav ul{
    padding: 0px;
    list-style-type: none;
}
.mobile-nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #7cc9af19;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}
.mobile-nav ul li a:hover{
    background-color: #7cc9af63;
}