.carousel-item{
    max-height: 60vh;
    overflow: hidden;
}
.carousel-item img{
    object-fit: cover;
    max-height: 60vh;
}
.carousel-caption{
    background: linear-gradient(#23232344, #32323244);
    width: 100%;
    height: 100%;
    left: 0px !important;
    top: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: blueviolet;
    padding: 10px !important;
    opacity: 1 !important;
    border-radius: 5px;
}


@media(max-width:768px){
    .carousel-item{
        height: 80vh;
    }
    .carousel-item img{
       height: 80vh;
    }
}